---
import CodedexImage from './CodedexImage.astro';
import { Image } from 'astro:assets';
import hacker from '/public/img/animated/Hacker-03-june.gif';
import line from '/public/img/animated/line1.gif';
import money from '/public/img/animated/money07.gif';
---

<meta charset="UTF-8">
<body>
    <center>
        <marquee direction="left">
           <a href="https://www.youtube.com/watch?v=0Dpw0VvH4m0"><img alt="Kirby flying right" src="/codedex-90s/img/animated/kirbster.gif" style="cursor: pointer; margin-right: 5px; margin-bottom: -5px;"></a>
            <span>Codédex Winter Hackathon live NOW!</span> 
            <img src="/codedex-90s/img/animated/kirbster-enemy.gif" alt="Waddledoo chasing Kirby" style="margin-left: 5px; margin-bottom: -5px;">
        </marquee>
        <br>
        <Image src={hacker} alt="Person Hacking on a Computer" />
        <CodedexImage width="384" height="51" />
        <Image src={hacker} alt="Person Hacking on a Computer" />
        <br><br><Image src={line} alt="Seperator Line" /><br><br>
        <a href="https://www.glitter-graphics.com/myspace/text_generator.php" target=_blank><img src="https://text.glitter-graphics.net/wiggle/n.gif" ><img src="https://text.glitter-graphics.net/wiggle/a.gif" ><img src="https://text.glitter-graphics.net/wiggle/v.gif" ><img src="https://text.glitter-graphics.net/wiggle/i.gif" ><img src="https://text.glitter-graphics.net/wiggle/g.gif" ><img src="https://text.glitter-graphics.net/wiggle/a.gif" ><img src="https://text.glitter-graphics.net/wiggle/t.gif" ><img src="https://text.glitter-graphics.net/wiggle/o.gif" ><img src="https://text.glitter-graphics.net/wiggle/r.gif" ></a>
        <br>
        <br>
        <table style="background-image: url('/codedex-90s/img/animated/matrix.gif'); border-color:grey; border-width:2px" border="2" cellspacing="3" cellpadding="3" align="center">
            <tbody>
                <tr>
                    <td><a style="color:white; text-decoration:none" href="/codedex-90s/">Home</a></td>
                    <td><a style="color:white; text-decoration:none" href="/learn">Learn</a></td>
                    <td><a style="color:white; text-decoration:none" href="/codedex-90s/community">Community</a></td>
                    <td><Image src={money} alt="Spinning Dollar Bill" width="16" height="14"/><a style="color:greenyellow; text-decoration:none" href="/club"> Join Club <Image src={money} alt="Spinning Dollar Bill" width="16" height="14"/></a></td>
                </tr>
            </tbody>
        </table>
    </center>
    <audio id="poyoSound" src="/codedex-90s/sfx/poyo.mp3"></audio>
</body>