---
import { Image } from 'astro:assets';
import moneyGif from '/public/img/animated/money07.gif';
---

<div class="money-container" aria-hidden="true">
  <div class="money">
    <Image height={50} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={40} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={30} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={40} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={50} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={40} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={30} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={40} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={50} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={40} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={30} src={moneyGif} alt="Money falling" />
  </div>
  <div class="money">
    <Image height={40} src={moneyGif} alt="Money falling" />
  </div>
</div>