---
import { Image } from 'astro:assets';
import snowGif from '/public/img/falling/SNOW.gif';
---

<div class="snow-container" aria-hidden="true">
  <div class="snow">
    <Image height={50} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={40} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={30} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={40} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={50} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={40} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={30} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={40} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={50} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={40} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={30} src={snowGif} alt="Snow falling" />
  </div>
  <div class="snow">
    <Image height={40} src={snowGif} alt="Snow falling" />
  </div>
</div>
